
$primary-color: #002c4c;
$secondary-color: #0056b3;
$error-color: #e02c2f;
$button-color: #d42023;
$button-hover-color: #e33434;
$border-color: #ccc; 

$border-radius: 0.8rem;
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
$focus-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);

$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

$input-padding: 0.5rem;

$header-bg-color: #0a3d62;
$background-color: #f2f3f5;
$sport-wrapper-bg-color: #ffffff;
$sport-text-color: #7d8c95;
$sport-wrapper-hover-bg: #0a3d62;
